packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
ansible/roles/jdauphant.nginx
ansible/.vagrant/
ansible/*.log
ansible/*.pyc
ansible/.molecule
ansible/.cache
ansible/.pytest_cache
ansible/venv
